<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
 <%- include('./partials/nav.ejs')%>
 <main class="index-main" >
   <h2>HOME</h2>
  <div class="grid-container">
    <%result.forEach(profile =>{%>
      <a href='/profiles/<%=profile._id%>'>
        <div class="grid-child">
          <img src="selfie.JPG" alt="pic">
          <div class="info">
            <p><%=profile.name%></p>%>

          </div>
        </div>
      </a>
    <%})%> 
  </div>
    

 </main>
</body>
</html>