@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16.25px;
  height: 100vh;
}

h2 {
  font-size: 1.7rem;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

nav>ul {
  width: 21%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-right: 10px;
}

/* =========FORM====================== */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
}

main h1 {
  align-self: flex-start;
  margin-left: 10%;
}

form {
  border: 1px solid black;
  height: 60%;
  width: 60%;

}

@media screen and (max-width: 900px) {
  a {
    font-size: 1.2rem;
  }

  nav>ul {
    width: 25%;
  }
}